@charset "utf-8";
@import url('./reset.css');

#wrap {width: 100%; display: flex; flex-flow: row wrap;}
#wrap #header {width: 200px; height: 850px; position: relative; z-index: 3;}

/* 로고 */
#wrap #header .top {width: 100%; height: 150px; background: #fff; border-bottom: 1px dashed #888;}
#wrap #header .top > h1 {width: 100%; height: 100%;}
#wrap #header .top > h1 > a {display: flex; width: 100%; height: 100%; justify-content: center; align-items: center;}
#wrap #header .top > h1 > a:hover img {filter: brightness(0.8); transform: scale(1.2);}
#wrap #header .top > h1 > a img {width: 80%; transition: all 1s;}
/* 메인메뉴버튼 */
#wrap #header .bottom {width: 100%; height: 700px; padding: 10px;}
#wrap #header .bottom #nav {width: 100%;}
#wrap #header .bottom #nav > ul {width: 100%; margin-top: 10px; border-right: 3px solid #888; border-left: 3px solid #888; border-bottom: 3px solid #888;}
#wrap #header .bottom #nav > ul > li {width: 100%;}
#wrap #header .bottom #nav > ul > li > a {
    display: flex; 
    width: 100%; 
    height: 50px; 
    align-items: center; 
    justify-content: center; 
    color: #333; 
    background: #fff;
    font-weight: 700; 
    border-top: 3px solid #888;
}
#wrap #header .bottom #nav > ul > li > a:last-child {border-bottom: 3px solid #888;}
#wrap #header .bottom #nav > ul > li a:hover {background: #ddd;}
#wrap #header .bottom #nav > ul > li a.on {background: #ddd;}

/* 서브메뉴버튼 */
#wrap #header .bottom #nav > ul > li .sub {width: 100%; border-top: 3px solid #888; background: #fff; display: none;}
/* #wrap #header .bottom #nav > ul > li .sub1 {display: block;} */
#wrap #header .bottom #nav > ul > li .sub > ul {width: 100%;}
#wrap #header .bottom #nav > ul > li .sub > ul >li {width: 100%;}
#wrap #header .bottom #nav > ul > li .sub > ul >li a {width: 100%; height: 35px; display: flex; justify-content: center; align-items: center;}
#wrap #header .bottom #nav > ul > li .sub > ul >li a:hover {background: #ddd;}

#wrap #header .bottom #aside {width: 100%; text-align: center;}
#wrap #header .bottom #aside span {display: flex; align-items: center; padding-top: 30px; justify-content: center;}
#wrap #header .bottom #aside span a {font-size: 13px; color: #222;}
#wrap #header .bottom #aside span a:hover {color: #55f; font-weight: 500;}
#wrap #header .bottom #aside span i {font-size: 11px; color: #ccc; margin: 0 5px;}





/* 메인 */
#wrap #main {width: calc(100% - 200px);height: 850px; position: relative; z-index: 2; border-left: 1px solid #888;}
/* 메인슬라이드 */
#wrap #main #section1 {width: 100%; height: 400px;}
#wrap #main #section1 .slide-container {width: 100%; height: 100%; overflow: hidden;}
#wrap #main #section1 .slide-container .slide-content {width: 100%; height: 100%;}
#wrap #main #section1 .slide-container .slide-content .slide-wrap {width: 100%; height: 500%; margin-top: -400px; position: relative; top: -100%}
#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide {width: 100%; height: 400px; background: url() no-repeat 50% 20%; background-size: cover;}

#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide1 {background-image: url(../imgs/wedding-img1.jpg);}
#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide2 {background-image: url(../imgs/wedding-img2.jpg);}
#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide3 {background-image: url(../imgs/wedding-img3.jpg);}

/* 섹션 2번 */
#wrap #main #section2 {width: 100%; height: 200px; padding: 10px; background: #fff;}
#wrap #main #section2 .container {width: 100%; height: 100%; border: 1px solid #888; background: #fff; display: flex; align-items: center; justify-content: center; border-radius: 20px;}
#wrap #main #section2 .container .content {width: 100%; height: 100%;}
#wrap #main #section2 .container .content .box {width: 100%; height: 100%; display: flex; position: relative; padding-right: 150px; justify-content: center; align-items: center;}
#wrap #main #section2 .container .content .box .left {margin-right: 10px;}
#wrap #main #section2 .container .content .box .left img {height: 80px}

#wrap #main #section2 .container .content .box .right {height: auto;}
#wrap #main #section2 .container .content .box .right > h3 {font-size: 16px; font-weight: 600; padding-bottom: 15px;}
#wrap #main #section2 .container .content .box .right > p {font-size: 14px; line-height: 170%;}

/* 화살 아이콘 */
#wrap #main #section2 .container .content > a .arrow {
    width: 50px; 
    height: 50px; 
    border: 10px solid #000; 
    position: absolute; 
    top: 50%; 
    right: 20%; 
    margin-top: -25px; 
    border-top: transparent; 
    border-left: transparent;
    transform: rotate(-45deg);
}


#wrap #main #section3 {width: 100%; height: 250px; background: #fff; padding: 10px; border-top: 1px dashed #888;}

#wrap #main #section3 .container {
    width: 100%;
    height: 100%;
}
#wrap #main #section3 .container .content {width: 100%; height: 100%; position: relative; padding-top: 35px;}
#wrap #main #section3 .container .content .button-box {display: flex; padding-left: 10px; position: absolute; top: 0; left: 0;}
#wrap #main #section3 .container .content .button-box button {width: auto; height: 36px; background: #fff; border: 1px solid #ccc; padding: 0 10px; font-size: 15px; font-weight: 500; color: #222; position: relative; z-index: 2; border-radius: 10px 10px 0 0;}

#wrap #main #section3 .container .content .button-box button.notice-btn {border-bottom: 1px solid transparent;}
#wrap #main #section3 .container .content .button-box button.notice-btn.on {background: #f0f0f0; cursor: pointer; border-bottom: 1px solid #ccc;}
#wrap #main #section3 .container .content .button-box button.gallery-btn {background: #f0f0f0; cursor: pointer;}
#wrap #main #section3 .container .content .button-box button.gallery-btn.on {border-bottom: 1px solid transparent; background: #fff; cursor: default;}


#wrap #main #section3 .container .content .contents {width: 100%; height: 100%; border: 1px solid #ccc; background: #fff; z-index: 1; position: relative; display: flex; align-items: center;}

#wrap #main #section3 .container .content .notice {display: flex;}
#wrap #main #section3 .container .content .notice.on {display: none;}

#wrap #main #section3 .container .content .notice ul {width: 100%; padding: 0 50px;}
#wrap #main #section3 .container .content .notice ul li {width: 100%; height: 45px; display: flex; justify-content: space-between; align-items: center; font-weight: 600; border-bottom: 1px dashed #888; position: relative; padding-left: 13px;}
#wrap #main #section3 .container .content .notice ul li a {width: 80%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 14px; line-height: 15px;}
#wrap #main #section3 .container .content .notice ul li:before {content: ''; width: 3px; height: 3px; background: #000; position: absolute; top: 50%; left: 0; margin-top: -1.5px;}
#wrap #main #section3 .container .content .notice ul li a:hover {text-decoration: underline; color: #000;}
#wrap #main #section3 .container .content .notice ul li span {width: 100px; text-align: right; user-select: none;}

#wrap #main #section3 .container .content .gallery {display: none;}
#wrap #main #section3 .container .content .gallery.on {display: flex;}

#wrap #main #section3 .container .content .gallery ul {width: 100%; height: 100%; display: flex; padding: 10px;}
#wrap #main #section3 .container .content .gallery ul li {width: 33.333%; height: 100%; padding: 10px;}
#wrap #main #section3 .container .content .gallery ul li a {width: 100%; height: 100%; display: flex; background: url() no-repeat 50% 50%; background-size: cover; opacity: 0.6; transition: all 0.8s; align-items: center; justify-content: center;}
#wrap #main #section3 .container .content .gallery ul li a:hover {opacity: 1;}
#wrap #main #section3 .container .content .gallery ul li:nth-child(1) a {background-image: url(../imgs/wedding-img12.jpg); background-position: 50% 0%;}
#wrap #main #section3 .container .content .gallery ul li:nth-child(2) a {background-image: url(../imgs/wedding-img23.jpg);}
#wrap #main #section3 .container .content .gallery ul li:nth-child(3) a {background-image: url(../imgs/wedding-img24.jpg);}
#wrap #main #section3 .container .content .gallery ul li a span {padding: 10px 15px; background: rgba(0, 0, 0, 0.6); color: #fff;}



#wrap #footer {width: 100%; height: 100px; position: relative; z-index: 1; display: flex; background: #fff; border-top: 1px solid #888;}

#wrap #footer .left {width: 200px; height: 100%;}
#wrap #footer .left h1 {width: 100%; height: 100%;}
#wrap #footer .left h1 a {width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}
#wrap #footer .left h1 a img {width: 65%; filter: grayscale(1);}


#wrap #footer .center {width: calc(100% - 400px); height: 100%; display: flex; flex-flow: row wrap; align-items: center; justify-content: center; border-left: 1px solid #888; border-right: 1px solid #888;}
#wrap #footer .center address {font-size: 12px; color: #bbb; line-height: 150%; width: 70%; text-align: center;}
#wrap #footer .center address span {display: block; padding-top: 10px; font-size: 12px; color: #bbb; width: 100%; text-align: center;}

#wrap #footer .right {width: 200px; height: 100%; display: flex; justify-content: center; align-items: center;}
#wrap #footer .right a {margin: 0 5px;}
#wrap #footer .right a img {width: auto;}


/* 배너 */
#wrap .banner {position: fixed; top: 0; right: 0; width: 150px; background: #fff; z-index: 4;}
#wrap .banner > ul {width: 100%; padding: 0 10px;}
#wrap .banner > ul > li {width: 100%; padding: 10px 0; border-bottom: 1px dashed #000;}
#wrap .banner > ul > li:last-child {border-bottom: 0;}
#wrap .banner > ul > li > a {width: 100%; display: block; transition: all 0.5s; filter: grayscale(1);}
#wrap .banner > ul > li > a:hover {filter: grayscale(0);}
#wrap .banner > ul > li > a > img {width: 100%;}

#wrap .modal {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); z-index: 5; display: flex; align-items: center; justify-content: center; /* display: none; */}
#wrap .modal.close {display: none;}
#wrap .modal.open {display: flex;}
#wrap .modal .container {width: 600px; height: 300px; background: #fff; position: relative; padding: 20px;}

#wrap .modal .container .title {width: 100%; border-bottom: 1px solid #888;}
#wrap .modal .container .title h1 {width: 100%; line-height: 50px; font-size: 20px; font-weight: 600;}

#wrap .modal .container .content {width: 100%; padding: 20px 20px;}
#wrap .modal .container .content li {width: 100%; line-height: 140%; padding: 5px 0;}

#wrap .modal .container .btn-box {width: 100%; padding: 15px 0 0 0; text-align: right; position: absolute; top: 80%; left: -3%;}
#wrap .modal .container .btn-box button {padding: 5px 20px;}


